* ::selection {
  background: #00b98d;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
span::selection {
  background: #00b98d;
}
html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  max-width: 1440px;
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 62.5%;
  overflow-x: hidden;

  /* Doesnot work on safari */
  /* scroll-behavior: smooth; */
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  /* max-width: 1440px; */
  /* display: flex; */
  /* justify-content: center; */
  /* margin: 0 auto; */

  /* Only works if there is nothing 
  absolutely positioned in relation to body */
  overflow-x: hidden;
}
/***********************/
/* GENERAL COMPONENTS */
/**********************/

.container {
  max-width: 150rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.8rem;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--center-v {
  align-items: center;
}
.heading-primary,
.heading-secondary {
  font-weight: 700;
  color: #333;
  letter-spacing: 1px;
}
.heading-primary {
  font-size: 4.8rem;
  line-height: 1.6;
  margin-bottom: 3.8rem;
}
.heading-secondary {
  font-size: 3.8rem;
  line-height: 1.2;
  margin-bottom: 4.2rem;
}
.heading-primary span,
.heading-secondary span {
  color: #00b98d;
}
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 0.5rem;
}
.btn--full:link,
.btn--full:visited {
  background-color: #00b98d;
  color: #fff;
}
.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  font-weight: 400;
  color: #00b98d;
  border: 1px solid #00b98d;
}
.margin-right-sm {
  margin-right: 2.8rem !important;
}
/***********************/
/* HEADER */
/**********************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  /* because we wantit to be stickey latter */
  height: 5.2rem;
  padding: 5.6rem;
}
.logo {
  height: 2.8rem;
  border: none;
}
/***********************/
/* NAVIGATION */
/**********************/
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 2rem;
}
.main-nav-link:hover,
.main-nav-link:active {
  cursor: pointer;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 0.5rem;
  background-color: #00b98d;
  color: #fff;
}
.main-nav-link.select {
  padding: 1.6rem 2.8rem;
  color: #333;
  border: 1px solid #00b98d;
  border-radius: 0.5rem;
  font-size: 2rem;
  font-weight: 700;
}

.main-nav-link.select:hover,
.main-nav-link.select:active {
  border: 1px solid #aaa;
}
/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 10rem;
  padding: 0 5.6rem;
  /* padding-top: 0;
  padding-bottom: 0;
  padding-left: 3.6rem; */
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.08);
}
.sticky .section-hero {
  margin-top: 12rem;
}
/***********************/
/* HERO SECTION  */
/**********************/
.section-hero {
  background-color: #fff;
  padding: 4.8rem 0 12.6rem 9.6rem;
}
.hero {
  max-width: 150rem;
  margin: 0 auto;
  margin-top: 10rem;
  /* padding: 0 3.2rem; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2.8rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.download-app {
  height: 5.8rem;
  width: auto;
}
.text {
  font-size: 2rem;
  margin: 2.8rem 0;
}
.chat {
  z-index: 0;
  position: fixed;
  border: 1px solid #00b98d;
  border-radius: 50%;
  background-color: #00b98d;
  color: #fff;
  top: 0;
  bottom: 0;
}
/***********************/
/* FEATURED IN  SECTION */
/**********************/
.section-featured {
  padding: 8.6rem 0.6rem 7.6rem 5.6rem;
  height: 25rem;
  background-color: #e6f8f4;
}
.add {
  font-weight: 800;
  height: 2.8rem;
}
.star {
  font-weight: 800;
  height: 2.8rem;
}
.feature {
  display: flex;
  justify-content: space-between;
  /* gap: 18rem; */
}
.featured {
  align-items: center;
}
.heading-featured-in {
  font-size: 3.4rem;
  font-weight: 700;
  color: #00b98d;
  margin-bottom: 2rem;
}
.feature-description {
  font-size: 2.2rem;
  color: #333;
  font-weight: 500;
}
.flag {
  height: 15rem;
}
/***********************/
/* HOW IT WORKS SECTION */
/**********************/

.section-how {
  padding: 9.6rem 3.6rem;
}

.step-img {
  width: 65%;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-text-box {
  text-align: center;
}

.step-description {
  font-size: 2.2rem;
  line-height: 1.6;
  color: #333;

  /* text-align: center; */
}
/***********************/
/* PROMOTION SECTION */
/**********************/
.section-promotion {
  display: flex;
  gap: 8rem;
  /* justify-content: space-between; */
  padding: 9.6rem 3.6rem;
  background-color: #e6f8f4;
}
/* .text-img {
  display: flex;
  gap: 9.6rem;
} */
/* .picture-carousel {
  width: 35%;
} */
.carousel-image {
  max-width: 50%;
}
.carousel-text {
  font-size: 2rem;
  margin-bottom: 3.8rem;
  line-height: 1.8;
}
.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.check {
  color: #00b98d;
}
.lists {
  list-style: none;
  margin-bottom: 2.4rem;
  font-size: 2.2rem;
  color: #333;
}

/***********************/
/* TESTIMONIAL SECTION */
/**********************/
.section-testimonials {
  padding: 9.6rem 3.6rem;
}
.testimonial {
  margin-top: 5.8rem;
  gap: 2.2rem;
}
.testimonial1,
.testimonial2 {
  border: 1px solid #aaa;
  border-radius: 0.9rem;
  box-shadow: 0.6rem 0.6rem rgba(0, 0, 0, 0.08);
  /* box-shadow: 0 2.4rem 2.8rem rgba(0, 0, 0, 0.08); */
}
.heading-secondary.testimonial-heading {
  text-align: center;
}
.testimonial-text {
  padding: 4.2rem;
}

.testimonial-text {
  font-size: 2.2rem;
  line-height: 3.2rem;
  font-weight: 500;
}
.customer-img {
  margin: 0;
}
.customer {
  display: inline-block;
  display: flex;
  padding: 3.2rem 4.8rem;
  gap: 2.4rem;
  align-items: center;

  /* justify-content: space-around; */
}
.profile {
  width: 30%;
  border-radius: 0.9rem;
}
.quotation {
  color: #00b98d;
  font-size: 6.2rem;
  font-weight: 800;
  margin-top: 3.8rem;
}
.name {
  color: #00b98d;
  font-size: 3.2rem;
  /* font-weight: 300; */
  margin-bottom: 1.8rem;
}
.company {
  color: #333;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.8rem;
}
.location {
  color: #333;
  font-size: 1.8rem;
  font-weight: 400;
}
/***********************/
/* VIDEO SECTION */
/**********************/
.section-video {
  padding: 9.6rem 3.6rem;
}
.heading-secondary.media {
  text-align: center;
}
.media-coverage {
  display: inline-block;
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  gap: 3.2rem;
}
.video {
  width: 100%;
  /* height: 4.8rem; */
  border: 1px solid #333;
  border-radius: 0.9rem;
}
.youtube {
  margin-bottom: 2.4rem;
}
.video-text:link,
.video-text:visited {
  /* margin-top: 3.2rem; */

  padding: 2.8rem;
  text-decoration: none;
  color: #333;
  font-size: 3.2rem;
}

.video-text:hover,
.video-text:active {
  cursor: pointer;
  color: #00b98d;
}
.techpana-logo {
  padding: 0.8rem 2.8rem;
  height: 4.8rem;
}

.box {
  list-style: none;
}
.box-text:link,
.box-text:visited {
  /* padding: 1.8rem 3.6rem; */
  text-decoration: none;
  color: #333;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8;
  /* margin-bottom: 1.2rem; */
}
.box-text:hover,
.box-text:active {
  cursor: pointer;
  color: #00b98d;
}
.box-1,
.box-2,
.box-3 {
  border: 1px solid #aaa;
  border-radius: 0.9rem;
  margin-bottom: 1.2rem;
  padding: 1.2rem 2.4rem;
}
.company-logo {
  display: inline-block;
  height: 3.2rem;
  align-items: center;
  margin-top: 1.2rem;
  /* text-align: center;
  justify-content: center; */
}
/* ***************************** */
/* SECTION ABOUT */
/* ***************************** */
.section-about {
  padding: 9.6rem 3.6rem;
}
.heading-secondary.about {
  text-align: center;
}
.queries {
  display: inline-block;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;
}

.question-wrapper {
  margin-bottom: 1.2rem;
}

.collapsible {
  border: 1px solid #aaa;
  background-color: #f7f7f7;
  color: #333;
  cursor: pointer;
  padding: 2.4rem;
  width: 100%;
  /* border: none; */
  text-align: left;
  outline: none;
  font-size: 2rem;
  font-weight: 400;
  /* margin-bottom: 3.2rem; */
}
.collapsible:after {
  content: "▼";
  font-size: 2.4rem;
  color: #333;
  float: right;
  margin-left: 4.2rem;
  border: none;
}

.active:after {
  /* content: "\02716"; */
  transform: rotate(-180deg);
}

.content {
  display: none;
  /* height: 50rem; */
  padding: 1.8rem;
  margin-top: 0.2rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #fff;
}
.content > p {
  color: #333;
  padding: 0 1.8rem;
  line-height: 1.6;
  font-size: 2rem;
  font-family: inherit;
}

/***********************/
/* contact SECTION  */
/**********************/
.section-details {
  padding: 11.8rem 22rem;
  background-color: #e6f8f4;
}
.contacts {
  /* box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.08); */
  display: inline-block;
  display: flex;
  /* gap: 9.6rem; */
  align-items: center;
  /* text-align: center; */
  justify-content: space-between;
}
.contact-list {
  list-style: none;
}
.contact {
  display: flex;
  gap: 4.2rem;
  margin-bottom: 5.8rem;
}
.contact-icon {
  border: 1px solid #99e3d1;
  color: #00b98d;
  background-color: #99e3d1;
  height: 1.8rem;
  width: 1.8rem;
  padding: 1.2rem;
  border-radius: 0.5rem;
}
.detail-name {
  color: #242424;
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: 1.6rem;
}
.contact-link {
  color: #333;
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: 500;
}
.form {
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.5);
  border: 1px solid #aaa;
  padding: 2.4rem;
  background-color: #fff;
  border-radius: 0.9rem;
}

.message {
  /* text-align: center; */
  color: #242424;
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}
/* .full-name {
  font-size: 3.2rem;
} */
.input {
  width: 100%;
  border: 1px solid #aaa;

  padding: 1.6rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  margin-bottom: 2.8rem;
}
.textarea {
  border: 1px solid #aaa;
  border-radius: 0.5rem;
  height: 13.8rem;
  width: 100%;
  padding: 1.6rem;
  font-size: 1.6rem;
}
.form-list {
  list-style: none;
  padding: 0;
}
.fullname,
.phone,
.sendmessage {
  color: #242424;
  font-size: 2.2rem;
  margin-bottom: 1.8rem;
}
.send {
  width: 100%;
  padding: 1.6rem;
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  border: 1px solid #00b98d;
  border-radius: 0.9rem;
  background-color: #00b98d;
  margin-top: 2.8rem;
}
/***********************/
/* FOOTER SECTION  */
/**********************/
.section-footer {
  padding: 4.6rem 5.9rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.footer-media {
  display: inline-block;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
.medias {
  font-size: 2.2rem;
}
.media-lists {
  list-style: none;
  display: flex;
  /* align-items: center; */
  gap: 3.2rem;
  justify-content: space-between;
}
.media-icon {
  border: 1px solid #00b98d;
  text-decoration: none;
  background-color: #00b98d;
  border-radius: 0.5rem;
  margin-bottom: 3.2rem;
}

.youtube-i,
.facebook,
.instagram,
.tiktok,
.linkedin,
.twitter {
  padding: 0.8rem;
  color: #fff;
  height: 1.6rem;
  width: 1.6rem;
}
.footer-nav {
  font-size: 3.2rem;
}
